body {
    margin: 0;
    overflow: hidden;
    background-color: #333;
    font-family: sans-serif; /* Added for better font */
}
canvas {
    border: 1px solid #fff;
    display: block;
    margin: 20px auto;
}
/* New style for the level counter */
#levelCounter {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
}
#cumCounter {
    position: absolute;
    top: 70px;
    left: 10px;
    font-size: 28px;
    color: rgb(228, 235, 31);
}